/* Regras gerais */

html {
  font-family: Arial, sans-serif;
}

body {
  width: 80%;
  margin: 0 auto;
}

header, nav, main, footer {
  background-color: rgba(197, 203, 204, 0.5);
  padding: 1%;
  margin-bottom: 10px
}

td {
  border: 1px solid black;
}

/* Cabeçalho */
header h1 {
  text-align: center;
  text-transform: uppercase;
}

/* Menu */
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  flex: 1;
  text-align: center;
}

nav a {
  font-size: 1.3rem;
  height: 2rem;
}

/* Seção principal (main) */
main {
  display: flex;
}

article {
  flex: 3;
}

aside {
  flex: 1;
}

/* Rodapé */
footer {
  text-align: center;
}
